<td><%= id %></td>
<td><%= name %></td>
<td><%= age %></td>
<td><%= nickname %></td>
<td><input type="checkbox" <% if (student == true) { %>checked<% } %> disabled/></td>

<td><a href="#/<%= id %>/destroy" class="destroy">delete</a></td>